[flake8]
max-line-length = 120
exclude=*/migrations/*
per-file-ignores =
    ./settings/local.py:F405,F403
    ./settings/prod.py:F405,F403,F401
    ./settings/staging.py:F405,F403
    ./accounts/apps.py:F40